body{
	background-color: #58B176;
}
p{
	color: #FBFBFF;
}
h1{
	color: #FBFBFF;
}
.card-header{
	background-color: #0B4F6C;
}
.card-body{
	background-color: #01BAEF;
}
.card-footer{
	background-color: #0B4F6C;
}